In [1]:
import pandas as pd

# Import Data

In [13]:
#csv
df = pd.read_csv('pokemon_data.csv')

#excel
df_xlsx = pd.read_excel('pokemon_data.xlsx')

#txt dengan separator '\t' atau tab
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')

In [14]:
#df
#df_xlsx
df_txt
#df.head()
#df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Baca  Data

In [22]:
#membaca kolom
df.columns

#membaca tiap kolom
#beberapa baris dari kolom spesifik
df['Name'][0:7]
#atau
df.Name
#beberapa kolom
df[['Name', 'Type 1', 'HP']]

#membaca tiap baris


#membaca pada lokasi spesifik

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]